body
*{
	margin: 8;
	padding: 0;
}
	
body
{background-color: red;
}
.wrapper{
	margin: 0 auto;
	width: 500px;
	background: #0078D7;
	height: 900px;
}

.header{
	padding:40px 0 0 40px;
}

.logo{
	float: left;
}  

.header.logo h1{
	color: pink;
}

.sitebar{
	float: left;
	padding: 12px 0 0 20 px;
	margin-left: 5px;
}	
.sitebar a{
	font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 10px 10px 10px 10px;
}

.sitebar a:hover{
	padding: 10px 10px 10px 10px;
	background: pink;
	border-radius: 10px 10px 10px 10px;
	color: white;

}

.slider


.slider img{
	margin-top: 20px;
	width:1020px;
	height:350px;
}

.menu{
	margin-top: 20px;
	background: white;
	height:200px;
	weight:100%;
}

.block-one{

}
